.App {
  text-align: center;
  height: 1100px;
  background-image: url('./Picture/haisan.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  padding-left: 10%;

}


.TopBar{
  display: flex;

  position: relative;
  min-width: calc(90% - 250px);
  flex-direction:  row;
  background-color:rgb(29, 29, 29);

  font-size: 100%;
  max-height: 5%;
  flex: 2;
}
.TopBar>div{
  display: block;
  flex: 2;
  align-content:center;
  font-family: 'Courier New', Courier, monospace;
}
.PaddingBody{
  height: 55px;
  width: 250px;
 
  position: absolute;
  background-color: rgb(29, 29, 29);
}
#LineBetweenTopBarAndBodyLeft{
  border-top: 1px ;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  border-style: dotted;
  padding-top: 0;
  margin: 5%;
  max-height: 0.01cm;
  padding: 0px;
}
#LineBetweenBodyLeftAndFooter{
  border-top: 1px ;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  border-style: dotted;
  padding-top: 0;
  margin: 5%;
  max-height: 0.01cm;
  padding: 0px;
  justify-content: flex-end;
  flex: 1;
}
.Body{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 250px;
  max-width: 250px;
  max-height: calc(100% - 55px) ;
  /* background-color:rgb(29, 29, 29); */
  top: 55px;
}

@keyframes opacityChange{
  from{ z-index: -0.5;opacity: 0;}
  to{background: rgb(29, 29, 29,1); z-index: 4;}
}


.BodyContentLeft{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 10;
  background-color:  rgb(29, 29, 29,1);
  animation: opacityChange 4s;

}
.BodyContentLeft2{
  flex: 10;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-align-last: center;
}
.BodyContentLeft_Home div{
  position: relative;
  /* display: none; */
  background-color: rgb(29, 29, 29);
  flex: 1;
  padding-top: 30px;
  
}



.FooterInfo{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color:rgb(29, 29, 29);
  min-height: 20%;
  max-height: 20%;
  flex: 1;
  line-height: 1em;
  bottom: 0;
  justify-content: flex-end;
  
}
.FooterInfo>li,h4{
  text-align: start;
  margin: 0;
  padding-left: 10px;
  display: block;
  flex-direction: column;
}



.MainBody{
  animation: opacityChange 4s;
  background-color:rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  left: calc(20% + 250px);
  border-radius: 10px;
  width: calc(100% - 30% - 250px);
  height: 70%;
}